* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.content {
  display: flex;
  margin-left: 10rem;
}

body {
  margin-top: 11%;
  margin-left:17%;
  margin-right: 10%;
  display: flex;
  background-color: white;

}

.wrapper {
  display: flex;
  width: 30rem;
  flex-direction: column;
  background-color: #FCE205;
  padding: 5%;
  border-radius: 1rem;
  align-items: center;;
}

h2 {
  font-family: 'Alegreya', serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 30px;
  opacity: 1.0;
}

img {
  height: 20vw;
}

p{
  margin-top: 1.5em;
  font-size: 1.2em;
  font-family: 'Alegreya', serif;
  text-align: center;
  color: black;
  word-wrap: break-word;
  line-height: 1.3em;
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 1.5s;
}

button{
  display: block;
  position: relative;
  margin-top: 10%;
  width: 12em;
  background-color: black;
  color: white;
  border-radius: 0.4em;
  padding: 0.2em;
  font-size: 1.2em;
  cursor: pointer;
  font-family: 'Alegreya', serif;

}